@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.logo-child55 {
  width: 61px;
  position: relative;
  border-radius: 86.26px;
  height: 62px;
  object-fit: contain;
  z-index: 0;
}
.vector-icon50,
.vector-icon51 {
  width: 26.9px;
  position: absolute;
  margin: 0 !important;
  top: 23.4px;
  left: 17.3px;
  height: 24.2px;
  object-fit: contain;
  z-index: 1;
}
.vector-icon51 {
  top: 12.3px;
  left: 14.5px;
  z-index: 2;
}
.logo59 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.fhm-logo-header25,
.maxim-logo-header25,
.playboy-logo-header25 {
  width: 83px;
  position: relative;
  height: 23px;
  object-fit: cover;
  cursor: pointer;
}
.maxim-logo-header25,
.playboy-logo-header25 {
  width: 141px;
}
.maxim-logo-header25 {
  width: 117px;
  height: 65.5px;
}
.dla-dorosych25,
.red18-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.dla-dorosych25 {
  line-height: 100%;
  text-transform: capitalize;
}
.red18-icon {
  width: 27px;
  height: 27px;
  object-fit: contain;
}
.b25,
.red18-parent {
  position: absolute;
  top: 9.4px;
  left: 5.1px;
}
.red18-parent {
  top: 3px;
  left: 109px;
  width: 27px;
  height: 27px;
  text-align: center;
  font-size: var(--font-size-5xs-3);
  font-family: var(--font-inter);
}
.adult51 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 136px;
  height: 30px;
  color: inherit;
}
.adult50,
.moje-konto50 {
  position: relative;
  cursor: pointer;
}
.adult50 {
  width: 111px;
  height: 30px;
}
.moje-konto50 {
  text-decoration: none;
  line-height: 100%;
  text-transform: capitalize;
  color: inherit;
}
.links50 {
  gap: var(--gap-30xl);
}
.links-container25,
.links50 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.menu-icon25 {
  width: 33.5px;
  position: relative;
  height: 21.5px;
}
.hamburger25 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs);
  background-color: transparent;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.menu-right25,
.navigation-inner-bar25 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-right25 {
  justify-content: flex-start;
  gap: var(--gap-21xl-5);
}
.navigation-inner-bar25 {
  align-self: stretch;
  justify-content: space-between;
}
.arrow-child19,
.div-navigation-bar25 {
  background-color: var(--color-firebrick-100);
}
.div-navigation-bar25 {
  align-self: stretch;
  height: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-16xl) var(--padding-56xl);
  box-sizing: border-box;
  color: var(--color-floralwhite);
}
.arrow-child19 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 6.4px 6.37px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.carret-left-icon22 {
  position: absolute;
  height: 94.57%;
  width: 94.57%;
  top: 2.72%;
  right: 5.43%;
  bottom: 2.72%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow45 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 58.9px;
  position: relative;
  height: 58.9px;
}
.arrow44 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.moje-konto51 {
  position: relative;
  line-height: 100%;
}
.imprint-back,
.title22 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.title22 {
  flex: 1;
  padding: 0 0 0 var(--padding-81xl);
  gap: var(--gap-xl);
}
.imprint-back {
  align-self: stretch;
  background-color: var(--color-gray-100);
  height: 248px;
  cursor: pointer;
  font-size: var(--font-size-45xl);
}
.favorites,
.image-149-icon6 {
  position: relative;
  flex-shrink: 0;
}
.favorites {
  width: 1328px;
  font-weight: 600;
  display: inline-block;
  height: 52px;
}
.image-149-icon6 {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  height: 195px;
  object-fit: cover;
  z-index: 0;
}
.image-177-icon2,
.image-178-icon1,
.image-179-icon,
.image-180-icon,
.image-181-icon,
.image-182-icon,
.image-183-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 195px;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.image-178-icon1,
.image-179-icon,
.image-180-icon,
.image-181-icon,
.image-182-icon,
.image-183-icon {
  z-index: 2;
}
.image-179-icon,
.image-180-icon,
.image-181-icon,
.image-182-icon,
.image-183-icon {
  z-index: 3;
}
.image-180-icon,
.image-181-icon,
.image-182-icon,
.image-183-icon {
  z-index: 4;
}
.image-181-icon,
.image-182-icon,
.image-183-icon {
  z-index: 5;
}
.image-182-icon,
.image-183-icon {
  z-index: 6;
}
.image-183-icon {
  z-index: 7;
}
.visual-icon,
.visual-icon1,
.visual-icon2,
.visual-icon3,
.visual-icon4,
.visual-icon5,
.visual-icon6,
.visual-icon7 {
  width: 40px;
  position: absolute;
  margin: 0 !important;
  top: 147px;
  left: calc(50% - 549px);
  border-radius: var(--br-31xl);
  max-width: 100%;
  overflow: hidden;
  height: 40px;
  flex-shrink: 0;
  z-index: 8;
}
.visual-icon1,
.visual-icon2,
.visual-icon3,
.visual-icon4,
.visual-icon5,
.visual-icon6,
.visual-icon7 {
  top: 148px;
  left: calc(50% - 388px);
  z-index: 9;
}
.visual-icon2,
.visual-icon3,
.visual-icon4,
.visual-icon5,
.visual-icon6,
.visual-icon7 {
  left: calc(50% - 227px);
  z-index: 10;
}
.visual-icon3,
.visual-icon4,
.visual-icon5,
.visual-icon6,
.visual-icon7 {
  left: calc(50% - 52px);
  z-index: 11;
}
.visual-icon4,
.visual-icon5,
.visual-icon6,
.visual-icon7 {
  left: calc(50% + 114px);
  z-index: 12;
}
.visual-icon5,
.visual-icon6,
.visual-icon7 {
  left: calc(50% + 275px);
  z-index: 13;
}
.visual-icon6,
.visual-icon7 {
  left: calc(50% + 441px);
  z-index: 14;
}
.visual-icon7 {
  left: calc(50% + 600px);
  z-index: 15;
}
.fav-magazines {
  width: 1324px;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-xl);
}
.jeste-subskrybentem-przegld1 {
  color: var(--color-gray-200);
}
.xxxxxx {
  color: var(--color-firebrick-200);
}
.jeste-subskrybentem-przegld {
  margin: 0;
}
.unsubscribe,
.you-are-subscribed-container {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.you-are-subscribed-container {
  width: 1299px;
  line-height: 24px;
  height: 253px;
}
.unsubscribe {
  width: 257px;
  font-size: var(--font-size-xl);
  text-decoration: underline;
  text-transform: uppercase;
  text-shadow: 0 3.1px 3.07px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.imprint,
.you-are-subscribed-to-desire-d-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.you-are-subscribed-to-desire-d-parent {
  width: 1351px;
  height: 453px;
  font-family: var(--font-outfit);
}
.imprint {
  align-self: stretch;
  background-color: var(--color-gray-100);
  height: 1034px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 var(--padding-114xl);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  font-family: var(--font-raleway);
}
.desire-digest59 {
  position: absolute;
  top: 1.6px;
  left: 70.7px;
  line-height: 70%;
  text-transform: capitalize;
}
.logo-child56 {
  position: absolute;
  top: 0;
  left: 0;
  width: 56.9px;
  height: 57.8px;
}
.logo60 {
  width: 311.7px;
  position: relative;
  height: 57.8px;
}
.prawa-autorskie-container25 {
  width: 330px;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 26px;
  font-family: var(--font-outfit);
  color: var(--color-darkslategray-100);
  display: inline-block;
}
.dd25 {
  width: 330px;
  height: 136px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.desire-digest60,
.faqs25,
.kontakt25,
.moje-konto52 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 30px;
  display: inline-block;
  height: 21px;
  flex-shrink: 0;
}
.desire-digest60 {
  width: 115px;
  color: var(--color-darkgray);
}
.faqs25,
.kontakt25,
.moje-konto52 {
  text-decoration: none;
  width: 108px;
  color: inherit;
  cursor: pointer;
}
.faqs25,
.kontakt25 {
  width: 103px;
}
.kontakt25 {
  width: 66px;
}
.column-125 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.ciasteczka25,
.legal25,
.polityka-prywatnoci25,
.regulamin25 {
  position: relative;
  display: inline-block;
  height: 21px;
  flex-shrink: 0;
}
.legal25 {
  width: 63px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 30px;
  color: var(--color-silver);
}
.ciasteczka25,
.polityka-prywatnoci25,
.regulamin25 {
  text-decoration: none;
  width: 161px;
  color: inherit;
  cursor: pointer;
}
.ciasteczka25,
.polityka-prywatnoci25 {
  width: 156px;
}
.ciasteczka25 {
  width: 116px;
}
.column-325,
.links51 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-base);
}
.links51 {
  flex-direction: row;
  gap: var(--gap-41xl);
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-outfit);
}
.footer25,
.innerfooter25 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.innerfooter25 {
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
}
.footer25 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  height: 408px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-70xl) var(--padding-56xl) var(--padding-91xl);
  box-sizing: border-box;
  font-size: var(--font-size-54xl-4);
}
.account {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-200);
  font-family: var(--font-maderon);
}
@media screen and (max-width: 1200px) {
  .hamburger25 {
    display: none;
  }
  .menu-right25 {
    gap: var(--gap-3xs);
  }
  .div-navigation-bar25,
  .imprint {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
  .imprint {
    height: auto;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
  }
  .innerfooter25 {
    flex-direction: column;
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 960px) {
  .links-container25,
  .links50 {
    display: none;
  }
  .hamburger25 {
    display: flex;
  }
  .menu-right25 {
    display: flex;
    gap: var(--gap-3xs);
  }
  .div-navigation-bar25 {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
  .title22 {
    padding-left: var(--padding-21xl);
    box-sizing: border-box;
  }
  .imprint,
  .links51 {
    flex-direction: column;
  }
  .imprint {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .links51 {
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 420px) {
  .links-container25 {
    display: none;
  }
  .hamburger25,
  .menu-right25 {
    display: flex;
  }
  .div-navigation-bar25 {
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-xl);
    box-sizing: border-box;
  }
  .title22 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .imprint-back {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer25,
  .imprint {
    box-sizing: border-box;
  }
  .imprint {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .footer25 {
    align-items: center;
    justify-content: center;
    padding: var(--padding-21xl) var(--padding-11xl);
  }
}
.vector-icon62 {
  position: absolute;
  height: 32.12%;
  width: 16.06%;
  top: 46.63%;
  right: 134.93%;
  bottom: 21.24%;
  left: -50.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  transform: rotate(-90deg);
}
.carret-left {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 71px;
  position: relative;
  height: 57.9px;
  overflow: hidden;
  flex-shrink: 0;
  transform: rotate(90deg);
  z-index: 0;
}
.div-hamburger-menu-drawer-child {
  width: 384px;
  position: relative;
  height: 407px;
  z-index: 1;
}
.fhm-logo-header31,
.maxim-logo-header31,
.playboy-logo-header31 {
  width: 83px;
  position: relative;
  height: 23px;
  object-fit: cover;
  cursor: pointer;
  z-index: 0;
}
.maxim-logo-header31,
.playboy-logo-header31 {
  width: 97px;
  height: 65px;
  z-index: 1;
}
.playboy-logo-header31 {
  width: 144px;
  height: 23px;
  z-index: 2;
}
.markingred-icon31 {
  position: absolute;
  top: 0;
  left: 113px;
  width: 27px;
  height: 27px;
  object-fit: contain;
}
.b31,
.dla-dorosych31 {
  position: absolute;
  top: 9.4px;
  left: 118.1px;
}
.dla-dorosych31 {
  top: 0;
  left: 0;
  font-size: var(--font-size-11xl);
  line-height: 100%;
  text-transform: capitalize;
  font-family: var(--font-maderon);
  text-align: left;
}
.adult62,
.moje-konto63 {
  text-decoration: none;
  position: absolute;
  margin: 0 !important;
  left: 10px;
  color: inherit;
}
.adult62 {
  width: 140px;
  top: 203px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}
.moje-konto63 {
  width: 86px;
  top: 268px;
  font-size: var(--font-size-11xl);
  line-height: 100%;
  text-transform: capitalize;
  font-family: var(--font-maderon);
  text-align: left;
  display: inline-block;
  z-index: 4;
}
.div-hamburger-menu-drawer,
.links-menu {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.links-menu {
  margin: 0 !important;
  position: absolute;
  top: 108px;
  left: 20px;
  height: 376px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-xl);
  z-index: 2;
}
.div-hamburger-menu-drawer {
  width: 100%;
  height: 546px;
  position: relative;
  background-color: var(--color-firebrick-100);
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: var(--padding-7xs) var(--padding-3xs) var(--padding-7xs) 0;
  gap: 0 267px;
  opacity: 0;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-5xs-3);
  color: var(--color-floralwhite);
  font-family: var(--font-inter);
}
.div-hamburger-menu-drawer.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-top;
}
@media screen and (max-width: 960px) {
  .div-hamburger-menu-drawer {
    display: flex;
  }
}
