@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.logo-child41 {
  width: 61px;
  position: relative;
  border-radius: 86.26px;
  height: 62px;
  object-fit: contain;
  z-index: 0;
}
.vector-icon38,
.vector-icon39 {
  width: 26.9px;
  position: absolute;
  margin: 0 !important;
  top: 23.4px;
  left: 17.3px;
  height: 24.2px;
  object-fit: contain;
  z-index: 1;
}
.vector-icon39 {
  top: 12.3px;
  left: 14.5px;
  z-index: 2;
}
.logo45 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.fhm-logo-header19,
.maxim-logo-header19,
.playboy-logo-header19 {
  width: 83px;
  position: relative;
  height: 23px;
  object-fit: cover;
  cursor: pointer;
}
.maxim-logo-header19,
.playboy-logo-header19 {
  width: 141px;
}
.maxim-logo-header19 {
  width: 117px;
  height: 65.5px;
}
.dla-dorosych19 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 100%;
  text-transform: capitalize;
}
.markingred-icon20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 27px;
  object-fit: contain;
}
.b19 {
  position: absolute;
  top: 9.4px;
  left: 5.1px;
}
.markingred-parent16 {
  position: absolute;
  top: 3px;
  left: 109px;
  width: 27px;
  height: 27px;
  text-align: center;
  font-size: var(--font-size-5xs-3);
  font-family: var(--font-inter);
}
.adult39 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 136px;
  height: 30px;
  color: inherit;
}
.adult38,
.moje-konto38 {
  position: relative;
  cursor: pointer;
}
.adult38 {
  width: 111px;
  height: 30px;
}
.moje-konto38 {
  text-decoration: none;
  line-height: 100%;
  text-transform: capitalize;
  color: inherit;
}
.links38 {
  gap: var(--gap-30xl);
}
.links-container19,
.links38 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.menu-icon19 {
  width: 33.5px;
  position: relative;
  height: 21.5px;
}
.hamburger19 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs);
  background-color: transparent;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.menu-right19,
.navigation-inner-bar19 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-right19 {
  justify-content: flex-start;
  gap: var(--gap-21xl-5);
}
.navigation-inner-bar19 {
  align-self: stretch;
  justify-content: space-between;
}
.arrow-child13,
.div-navigation-bar19 {
  background-color: var(--color-firebrick-100);
}
.div-navigation-bar19 {
  align-self: stretch;
  height: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-16xl) var(--padding-56xl);
  box-sizing: border-box;
}
.arrow-child13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 6.4px 6.37px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.carret-left-icon16 {
  position: absolute;
  height: 94.57%;
  width: 94.57%;
  top: 2.72%;
  right: 5.43%;
  bottom: 2.72%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow33 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 58.9px;
  position: relative;
  height: 58.9px;
}
.arrow32 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.maxim-icon9,
.title-child13 {
  width: 64.6px;
  position: relative;
  height: 43.2px;
}
.maxim-icon9 {
  width: 189.3px;
  height: 101.5px;
  object-fit: cover;
  display: none;
}
.mask-group-icon3 {
  width: 140px;
  position: relative;
  height: 37.8px;
  object-fit: contain;
}
.fh-mlogo-homepage7 {
  width: 171px;
  height: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.mxm-title-arrow15,
.title16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.title16 {
  flex: 1;
  padding: 0 0 0 var(--padding-81xl);
  gap: var(--gap-xl);
  cursor: pointer;
}
.mxm-title-arrow15 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  height: 248px;
}
.image-150-icon13 {
  width: 654px;
  position: relative;
  height: 853.6px;
  object-fit: cover;
  z-index: 0;
}
.image-152-icon14,
.image-152-icon15,
.image-153-icon21 {
  width: 654px;
  position: relative;
  height: 854.7px;
  object-fit: cover;
  z-index: 1;
}
.image-152-icon15,
.image-153-icon21 {
  z-index: 2;
}
.image-152-icon15 {
  width: 627px;
  height: 819.5px;
  z-index: 3;
}
.interface-lock14 {
  width: 53px;
  position: absolute;
  margin: 0 !important;
  top: 2923px;
  left: 296px;
  height: 53px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 4;
}
.desire-digest45 {
  position: absolute;
  top: 0.8px;
  left: 36.7px;
  line-height: 70%;
  text-transform: capitalize;
}
.logo-child42,
.logo46 {
  position: absolute;
  top: 0;
  left: 0;
  width: 29.6px;
  height: 30px;
}
.logo46 {
  width: 161.7px;
  margin: 0 !important;
  top: 3305px;
  left: 241px;
  z-index: 5;
  font-family: var(--font-maderon);
}
.this-is-a7 {
  margin: 0;
}
.this-is-a-container7 {
  width: 497px;
  position: absolute;
  margin: 0 !important;
  top: 4760px;
  left: 59px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  z-index: 6;
}
.interface-lock15,
.interface-lock16 {
  width: 53px;
  position: absolute;
  margin: 0 !important;
  top: 3797px;
  left: 301px;
  height: 53px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 7;
}
.interface-lock16 {
  top: 4693px;
  left: 292px;
  z-index: 8;
}
.uzyska-peen-dostp7 {
  color: var(--color-tomato);
}
.span7 {
  color: var(--color-white);
}
.to-jest-demonstracja-container7 {
  width: 447px;
  position: absolute;
  margin: 0 !important;
  top: 2998px;
  left: calc(50% - 224px);
  font-size: var(--font-size-3xl);
  font-weight: 600;
  text-align: center;
  display: inline-block;
  z-index: 9;
}
.vuesaxlineardirect-left-icon12 {
  width: 21.3px;
  position: relative;
  height: 21.3px;
  transform: rotate(-180deg);
}
.odkryj-klub7 {
  position: relative;
  font-weight: 500;
  transform: rotate(180deg);
}
.vuesaxlineardirect-left-parent8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs-1);
  transform: rotate(180deg);
}
.frame-wrapper6 {
  margin: 0 !important;
  position: absolute;
  top: 3099px;
  left: 209px;
  border-radius: 21.85px;
  background-color: var(--color-gray-500);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm-1) var(--padding-31xl-3) var(--padding-sm-1)
    var(--padding-44xl);
  z-index: 10;
  font-size: var(--font-size-mini-2);
  color: var(--color-floralwhite);
}
.image-150-parent5 {
  position: relative;
  gap: var(--gap-11xl-9);
}
.fhm-mag-1-inner5,
.fhm-mag-17,
.image-150-parent5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fhm-mag-17 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  overflow: hidden;
  padding: var(--padding-59xl) var(--padding-492xl);
  font-size: var(--font-size-19xl-2);
  color: var(--color-white);
  font-family: var(--font-outfit);
}
.desire-digest46 {
  position: absolute;
  top: 1.6px;
  left: 70.7px;
  line-height: 70%;
  text-transform: capitalize;
}
.logo-child43 {
  position: absolute;
  top: 0;
  left: 0;
  width: 56.9px;
  height: 57.8px;
}
.logo47 {
  width: 311.7px;
  position: relative;
  height: 57.8px;
}
.prawa-autorskie-container19 {
  width: 330px;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 26px;
  font-family: var(--font-outfit);
  color: var(--color-darkslategray-100);
  display: inline-block;
}
.dd19 {
  width: 330px;
  height: 136px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.desire-digest47,
.faqs19,
.kontakt19,
.moje-konto39 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 30px;
  display: inline-block;
  height: 21px;
  flex-shrink: 0;
}
.desire-digest47 {
  width: 115px;
  color: var(--color-darkgray);
}
.faqs19,
.kontakt19,
.moje-konto39 {
  text-decoration: none;
  width: 108px;
  color: inherit;
  cursor: pointer;
}
.faqs19,
.kontakt19 {
  width: 103px;
}
.kontakt19 {
  width: 66px;
}
.column-119 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.ciasteczka19,
.legal19,
.polityka-prywatnoci19,
.regulamin19 {
  position: relative;
  display: inline-block;
  height: 21px;
  flex-shrink: 0;
}
.legal19 {
  width: 63px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 30px;
  color: var(--color-silver);
}
.ciasteczka19,
.polityka-prywatnoci19,
.regulamin19 {
  text-decoration: none;
  width: 161px;
  color: inherit;
  cursor: pointer;
}
.ciasteczka19,
.polityka-prywatnoci19 {
  width: 156px;
}
.ciasteczka19 {
  width: 116px;
}
.column-319,
.links39 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-base);
}
.links39 {
  flex-direction: row;
  gap: var(--gap-41xl);
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-outfit);
}
.footer19,
.innerfooter19 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.innerfooter19 {
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
}
.footer19 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  height: 408px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-70xl) var(--padding-56xl) var(--padding-91xl);
  box-sizing: border-box;
  font-size: var(--font-size-54xl-4);
  color: var(--color-gray-200);
}
.fhm-2-product-page-reader {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-floralwhite);
  font-family: var(--font-maderon);
}
@media screen and (max-width: 1200px) {
  .hamburger19 {
    display: none;
  }
  .menu-right19 {
    gap: var(--gap-3xs);
  }
  .div-navigation-bar19 {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
  .fhm-mag-1-inner5,
  .fhm-mag-17 {
    align-items: center;
    justify-content: center;
  }
  .fhm-mag-17 {
    width: 500px;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .innerfooter19 {
    flex-direction: column;
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 960px) {
  .links-container19,
  .links38 {
    display: none;
  }
  .hamburger19 {
    display: flex;
  }
  .menu-right19 {
    display: flex;
    gap: var(--gap-3xs);
  }
  .div-navigation-bar19 {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
  .fhm-mag-17,
  .title16 {
    padding-left: var(--padding-21xl);
    box-sizing: border-box;
  }
  .fhm-mag-17 {
    align-items: center;
    justify-content: center;
    padding-right: var(--padding-21xl);
  }
  .links39 {
    flex-direction: column;
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 420px) {
  .links-container19 {
    display: none;
  }
  .hamburger19,
  .menu-right19 {
    display: flex;
  }
  .div-navigation-bar19 {
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-xl);
    box-sizing: border-box;
  }
  .title16 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .mxm-title-arrow15 {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .fhm-mag-1-inner5 {
    flex-direction: column;
    gap: var(--gap-3xs);
  }
  .fhm-mag-17 {
    width: 500px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .footer19 {
    align-items: center;
    justify-content: center;
    padding: var(--padding-21xl) var(--padding-11xl);
    box-sizing: border-box;
  }
}
.vector-icon62 {
  position: absolute;
  height: 32.12%;
  width: 16.06%;
  top: 46.63%;
  right: 134.93%;
  bottom: 21.24%;
  left: -50.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  transform: rotate(-90deg);
}
.carret-left {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 71px;
  position: relative;
  height: 57.9px;
  overflow: hidden;
  flex-shrink: 0;
  transform: rotate(90deg);
  z-index: 0;
}
.div-hamburger-menu-drawer-child {
  width: 384px;
  position: relative;
  height: 407px;
  z-index: 1;
}
.fhm-logo-header31,
.maxim-logo-header31,
.playboy-logo-header31 {
  width: 83px;
  position: relative;
  height: 23px;
  object-fit: cover;
  cursor: pointer;
  z-index: 0;
}
.maxim-logo-header31,
.playboy-logo-header31 {
  width: 97px;
  height: 65px;
  z-index: 1;
}
.playboy-logo-header31 {
  width: 144px;
  height: 23px;
  z-index: 2;
}
.markingred-icon31 {
  position: absolute;
  top: 0;
  left: 113px;
  width: 27px;
  height: 27px;
  object-fit: contain;
}
.b31,
.dla-dorosych31 {
  position: absolute;
  top: 9.4px;
  left: 118.1px;
}
.dla-dorosych31 {
  top: 0;
  left: 0;
  font-size: var(--font-size-11xl);
  line-height: 100%;
  text-transform: capitalize;
  font-family: var(--font-maderon);
  text-align: left;
}
.adult62,
.moje-konto63 {
  text-decoration: none;
  position: absolute;
  margin: 0 !important;
  left: 10px;
  color: inherit;
}
.adult62 {
  width: 140px;
  top: 203px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}
.moje-konto63 {
  width: 86px;
  top: 268px;
  font-size: var(--font-size-11xl);
  line-height: 100%;
  text-transform: capitalize;
  font-family: var(--font-maderon);
  text-align: left;
  display: inline-block;
  z-index: 4;
}
.div-hamburger-menu-drawer,
.links-menu {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.links-menu {
  margin: 0 !important;
  position: absolute;
  top: 108px;
  left: 20px;
  height: 376px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-xl);
  z-index: 2;
}
.div-hamburger-menu-drawer {
  width: 100%;
  height: 546px;
  position: relative;
  background-color: var(--color-firebrick-100);
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: var(--padding-7xs) var(--padding-3xs) var(--padding-7xs) 0;
  gap: 0 267px;
  opacity: 0;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-5xs-3);
  color: var(--color-floralwhite);
  font-family: var(--font-inter);
}
.div-hamburger-menu-drawer.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-top;
}
@media screen and (max-width: 960px) {
  .div-hamburger-menu-drawer {
    display: flex;
  }
}
