@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.logo-child4 {
  width: 61px;
  position: relative;
  border-radius: 86.26px;
  height: 62px;
  object-fit: contain;
  z-index: 0;
}
.vector-icon8,
.vector-icon9 {
  width: 26.9px;
  position: absolute;
  margin: 0 !important;
  top: 23.4px;
  left: 17.3px;
  height: 24.2px;
  object-fit: contain;
  z-index: 1;
}
.vector-icon9 {
  top: 12.3px;
  left: 14.5px;
  z-index: 2;
}
.logo8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.fhm-logo-header4,
.maxim-logo-header4,
.playboy-logo-header4 {
  width: 83px;
  position: relative;
  height: 23px;
  object-fit: cover;
  cursor: pointer;
}
.maxim-logo-header4,
.playboy-logo-header4 {
  width: 141px;
}
.maxim-logo-header4 {
  width: 117px;
  height: 65.5px;
}
.dla-dorosych4 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 100%;
  text-transform: capitalize;
}
.markingred-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 27px;
  object-fit: contain;
}
.b4 {
  position: absolute;
  top: 9.4px;
  left: 5.1px;
}
.markingred-parent1 {
  position: absolute;
  top: 3px;
  left: 109px;
  width: 27px;
  height: 27px;
  text-align: center;
  font-size: var(--font-size-5xs-3);
  font-family: var(--font-inter);
}
.adult9 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 136px;
  height: 30px;
  color: inherit;
}
.adult8,
.moje-konto8 {
  position: relative;
  cursor: pointer;
}
.adult8 {
  width: 111px;
  height: 30px;
}
.moje-konto8 {
  text-decoration: none;
  line-height: 100%;
  text-transform: capitalize;
  color: inherit;
}
.links8 {
  gap: var(--gap-30xl);
}
.links-container4,
.links8 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.menu-icon4 {
  width: 33.5px;
  position: relative;
  height: 21.5px;
}
.hamburger4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs);
  background-color: transparent;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.menu-right4,
.navigation-inner-bar4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-right4 {
  justify-content: flex-start;
  gap: var(--gap-21xl-5);
}
.navigation-inner-bar4 {
  align-self: stretch;
  justify-content: space-between;
}
.div-navigation-bar4,
.ellipse-div {
  background-color: var(--color-firebrick-100);
}
.div-navigation-bar4 {
  align-self: stretch;
  height: 124px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-16xl) var(--padding-56xl);
  box-sizing: border-box;
}
.ellipse-div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 6.4px 6.37px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.carret-left-icon3 {
  position: absolute;
  height: 94.57%;
  width: 94.57%;
  top: 2.72%;
  right: 5.43%;
  bottom: 2.72%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrow7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 58.9px;
  position: relative;
  height: 58.9px;
}
.arrow6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.title-inner {
  width: 64.6px;
  position: relative;
  height: 43.2px;
}
.playboy-logo-icon2 {
  width: 198.5px;
  position: relative;
  height: 30.1px;
  object-fit: cover;
}
.fh-mlogo-homepage {
  width: 171px;
  height: 39px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mxm-title-arrow2,
.title3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.title3 {
  flex: 1;
  padding: 0 0 0 var(--padding-81xl);
  gap: var(--gap-xl);
  cursor: pointer;
}
.mxm-title-arrow2 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  height: 248px;
}
.image-150-icon {
  width: 654px;
  position: relative;
  height: 853.6px;
  object-fit: cover;
  z-index: 0;
}
.image-152-icon1,
.image-153-icon1,
.image-153-icon2 {
  width: 654px;
  position: relative;
  height: 854.7px;
  object-fit: cover;
  z-index: 1;
}
.image-153-icon1,
.image-153-icon2 {
  z-index: 2;
}
.image-153-icon2 {
  width: 640px;
  height: 836.5px;
  z-index: 3;
}
.to-jest-demonstracja {
  margin: 0;
}
.uzyska-peen-dostp {
  color: var(--color-tomato);
}
.span {
  color: var(--color-white);
}
.to-jest-demonstracja-container {
  width: 447px;
  position: absolute;
  margin: 0 !important;
  top: 2998px;
  left: calc(50% - 224px);
  font-weight: 600;
  display: inline-block;
  z-index: 4;
}
.vuesaxlineardirect-left-icon4 {
  width: 21.3px;
  position: relative;
  height: 21.3px;
  transform: rotate(-180deg);
}
.odkryj-klub {
  position: relative;
  font-weight: 500;
  transform: rotate(180deg);
}
.frame-div,
.frame-wrapper {
  display: flex;
  justify-content: flex-start;
}
.frame-div {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs-1);
  transform: rotate(180deg);
}
.frame-wrapper {
  margin: 0 !important;
  position: absolute;
  top: 3099px;
  left: 209px;
  border-radius: 21.85px;
  background-color: var(--color-gray-500);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-sm-1) var(--padding-31xl-3) var(--padding-sm-1)
    var(--padding-44xl);
  z-index: 5;
  text-align: left;
  font-size: var(--font-size-mini-2);
  color: var(--color-floralwhite);
}
.this-is-a-container {
  width: 497px;
  position: absolute;
  margin: 0 !important;
  top: 4760px;
  left: 59px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  z-index: 6;
}
.interface-lock,
.interface-lock1 {
  width: 53px;
  position: absolute;
  margin: 0 !important;
  top: 2923px;
  left: 296px;
  height: 53px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 7;
}
.interface-lock1 {
  top: 4693px;
  left: 292px;
  z-index: 8;
}
.desire-digest8 {
  position: absolute;
  top: 0.8px;
  left: 36.7px;
  line-height: 70%;
  text-transform: capitalize;
}
.logo-child5,
.logo9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 29.6px;
  height: 30px;
}
.logo9 {
  width: 161.7px;
  margin: 0 !important;
  top: 3305px;
  left: 241px;
  z-index: 9;
  text-align: left;
  font-size: var(--font-size-19xl-2);
  font-family: var(--font-maderon);
}
.image-150-parent {
  position: relative;
  gap: var(--gap-11xl-9);
}
.fhm-mag-1,
.fhm-mag-1-inner,
.image-150-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fhm-mag-1 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  overflow: hidden;
  padding: var(--padding-59xl) var(--padding-492xl);
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-outfit);
}
.desire-digest9 {
  position: absolute;
  top: 1.6px;
  left: 70.7px;
  line-height: 70%;
  text-transform: capitalize;
}
.logo-child6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 56.9px;
  height: 57.8px;
}
.logo10 {
  width: 311.7px;
  position: relative;
  height: 57.8px;
}
.prawa-autorskie-container4 {
  width: 330px;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 26px;
  font-family: var(--font-outfit);
  color: var(--color-darkslategray-100);
  display: inline-block;
}
.dd4 {
  width: 330px;
  height: 136px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xl);
}
.desire-digest10,
.faqs4,
.kontakt4,
.moje-konto9 {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 30px;
  display: inline-block;
  height: 21px;
  flex-shrink: 0;
}
.desire-digest10 {
  width: 115px;
  color: var(--color-darkgray);
}
.faqs4,
.kontakt4,
.moje-konto9 {
  text-decoration: none;
  width: 108px;
  color: inherit;
  cursor: pointer;
}
.faqs4,
.kontakt4 {
  width: 103px;
}
.kontakt4 {
  width: 66px;
}
.column-14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.ciasteczka4,
.legal4,
.polityka-prywatnoci4,
.regulamin4 {
  position: relative;
  display: inline-block;
  height: 21px;
  flex-shrink: 0;
}
.legal4 {
  width: 63px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.02em;
  line-height: 30px;
  color: var(--color-silver);
}
.ciasteczka4,
.polityka-prywatnoci4,
.regulamin4 {
  text-decoration: none;
  width: 161px;
  color: inherit;
  cursor: pointer;
}
.ciasteczka4,
.polityka-prywatnoci4 {
  width: 156px;
}
.ciasteczka4 {
  width: 116px;
}
.column-34,
.links9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-base);
}
.links9 {
  flex-direction: row;
  gap: var(--gap-41xl);
  font-size: var(--font-size-lg);
  color: var(--color-darkslategray-100);
  font-family: var(--font-outfit);
}
.footer4,
.innerfooter4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.innerfooter4 {
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
}
.footer4 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  height: 408px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-70xl) var(--padding-56xl) var(--padding-91xl);
  box-sizing: border-box;
  font-size: var(--font-size-54xl-4);
  color: var(--color-gray-200);
}
.play-1-product-page {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-floralwhite);
  font-family: var(--font-maderon);
}
@media screen and (max-width: 1200px) {
  .hamburger4 {
    display: none;
  }
  .menu-right4 {
    gap: var(--gap-3xs);
  }
  .div-navigation-bar4 {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
  .fhm-mag-1,
  .fhm-mag-1-inner {
    align-items: center;
    justify-content: center;
  }
  .fhm-mag-1 {
    width: 500px;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .innerfooter4 {
    flex-direction: column;
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 960px) {
  .links-container4,
  .links8 {
    display: none;
  }
  .hamburger4 {
    display: flex;
  }
  .menu-right4 {
    display: flex;
    gap: var(--gap-3xs);
  }
  .div-navigation-bar4 {
    padding-left: var(--padding-16xl);
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
  .fhm-mag-1,
  .title3 {
    padding-left: var(--padding-21xl);
    box-sizing: border-box;
  }
  .fhm-mag-1 {
    align-items: center;
    justify-content: center;
    padding-right: var(--padding-21xl);
  }
  .links9 {
    flex-direction: column;
    gap: var(--gap-31xl);
  }
}
@media screen and (max-width: 420px) {
  .links-container4 {
    display: none;
  }
  .hamburger4,
  .menu-right4 {
    display: flex;
  }
  .div-navigation-bar4 {
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-xl);
    box-sizing: border-box;
  }
  .title3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .mxm-title-arrow2 {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .fhm-mag-1-inner {
    flex-direction: column;
    gap: var(--gap-3xs);
  }
  .fhm-mag-1,
  .footer4 {
    box-sizing: border-box;
  }
  .fhm-mag-1 {
    width: 500px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
  }
  .footer4 {
    align-items: center;
    justify-content: center;
    padding: var(--padding-21xl) var(--padding-11xl);
  }
}
.vector-icon62 {
  position: absolute;
  height: 32.12%;
  width: 16.06%;
  top: 46.63%;
  right: 134.93%;
  bottom: 21.24%;
  left: -50.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  transform: rotate(-90deg);
}
.carret-left {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 71px;
  position: relative;
  height: 57.9px;
  overflow: hidden;
  flex-shrink: 0;
  transform: rotate(90deg);
  z-index: 0;
}
.div-hamburger-menu-drawer-child {
  width: 384px;
  position: relative;
  height: 407px;
  z-index: 1;
}
.fhm-logo-header31,
.maxim-logo-header31,
.playboy-logo-header31 {
  width: 83px;
  position: relative;
  height: 23px;
  object-fit: cover;
  cursor: pointer;
  z-index: 0;
}
.maxim-logo-header31,
.playboy-logo-header31 {
  width: 97px;
  height: 65px;
  z-index: 1;
}
.playboy-logo-header31 {
  width: 144px;
  height: 23px;
  z-index: 2;
}
.markingred-icon31 {
  position: absolute;
  top: 0;
  left: 113px;
  width: 27px;
  height: 27px;
  object-fit: contain;
}
.b31,
.dla-dorosych31 {
  position: absolute;
  top: 9.4px;
  left: 118.1px;
}
.dla-dorosych31 {
  top: 0;
  left: 0;
  font-size: var(--font-size-11xl);
  line-height: 100%;
  text-transform: capitalize;
  font-family: var(--font-maderon);
  text-align: left;
}
.adult62,
.moje-konto63 {
  text-decoration: none;
  position: absolute;
  margin: 0 !important;
  left: 10px;
  color: inherit;
}
.adult62 {
  width: 140px;
  top: 203px;
  height: 30px;
  cursor: pointer;
  z-index: 3;
}
.moje-konto63 {
  width: 86px;
  top: 268px;
  font-size: var(--font-size-11xl);
  line-height: 100%;
  text-transform: capitalize;
  font-family: var(--font-maderon);
  text-align: left;
  display: inline-block;
  z-index: 4;
}
.div-hamburger-menu-drawer,
.links-menu {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.links-menu {
  margin: 0 !important;
  position: absolute;
  top: 108px;
  left: 20px;
  height: 376px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  gap: var(--gap-xl);
  z-index: 2;
}
.div-hamburger-menu-drawer {
  width: 100%;
  height: 546px;
  position: relative;
  background-color: var(--color-firebrick-100);
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: var(--padding-7xs) var(--padding-3xs) var(--padding-7xs) 0;
  gap: 0 267px;
  opacity: 0;
  max-height: 90%;
  text-align: center;
  font-size: var(--font-size-5xs-3);
  color: var(--color-floralwhite);
  font-family: var(--font-inter);
}
.div-hamburger-menu-drawer.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-top;
}
@media screen and (max-width: 960px) {
  .div-hamburger-menu-drawer {
    display: flex;
  }
}
